{%extends 'base.html'%}
{% block content %}

<style>
  /*Overrides for Tailwind CSS */

  /*Form fields*/

  [x-cloak] {
    display: none;
  }

  .duration-300 {
    transition-duration: 300ms;
  }

  .ease-in {
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  }

  .ease-out {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }

  .scale-90 {
    transform: scale(.9);
  }

  .scale-100 {
    transform: scale(1);
  }
</style>
<main class="overflow-y-auto h-full" x-data="{ 'showModal': false }" @keydown.escape="showModal = false" x-cloak>
  <div class="container grid px-6 mx-auto">
    <div class="flex justify-between ...">
      <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
        Dashboard
      </h2>
      <!-- @click="showModal = true" -->
      <button
        class="px-4 py-2 my-6 font-semibold text-blue-700 bg-transparent rounded border border-blue-500 hover:bg-blue-500 hover:text-white hover:border-transparent">
        <a href="{% url 'addUtils' %}">Get Prediction</a>
      </button>
    </div>






    <!-- New Table -->
    <div class="overflow-hidden w-full rounded-lg shadow-xs">
      <div class="overflow-x-auto w-full">
        <table id="example" class="stripe hover" style="width:100%; padding-top: 1em;  padding-bottom: 1em;">
          <thead>
            <tr class="text-xs font-semibold tracking-wide text-gray-500 uppercase bg-gray-50 border-b dark:border-gray-700 dark:text-gray-400 dark:bg-gray-800">
              <th class="px-4 py-3">ID</th>
              <th data-priority="1" class="px-4 py-3">Patient ID</th>
              <th data-priority="2" class="px-4 py-3">Prediction</th>
              <th>Created On</th>

            </tr>
          </thead>
          <tbody class="text-center">
            {% for predslist in predlist %}
            <tr class="text-gray-700">
              <td class="px-4 py-3 text-sm">ID</td>
              <td class="px-4 py-3 text-sm">{{ predslist.patient_id}} </td>
              <td class="px-4 py-3 text-xs">
                <span class="px-2
                py-1
                font-semibold
                leading-tight
                rounded-full
                {% if predslist.prediction == 'M' %}text-red-600 bg-red-300{% else %}text-green-700 bg-green-300 {% endif %}">{{predslist.get_prediction_display}}</span> </td>
              <td class="px-4 py-3 text-sm">{{predslist.created_at}}</td>
            </tr>
            {% endfor %}
          </tbody>

        </table>
      </div>
    
    </div>

    <!-- Charts -->




  </div>
  </div>
</main>
<div>
  <!-- jQuery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

  <!--Datatables -->
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
  <script>
    $(document).ready(function () {

      var table = $('#example').DataTable({
        responsive: true
      })
        .columns.adjust()
        .responsive.recalc();
    });

  </script>
  {% endblock %}