{% extends 'app.html' %}

{% block content %}
<div class="flex overflow-y-auto flex-col md:flex-row">
    <div class="h-32 md:h-auto md:w-1/2">
        <img aria-hidden="true" class="object-cover w-full h-full" src="static/img/login-office.jpeg" alt="Office" />

    </div>
    <div class="flex justify-center items-center p-6 sm:p-12 md:w-1/2">
        <div class="w-full">
            <h1 class="mb-4 text-xl font-semibold text-gray-700">
                Login
            </h1>
            <form action="" method="post">
                {% csrf_token %}
                <label class="block text-sm">
                    <span class="text-gray-700">Username</span>
                    {{form.username}}
                </label>
                <label class="block mt-4 text-sm">
                    <span class="text-gray-700">Password</span>
                    {{form.password}}
                </label>


                <button
                    class="block px-4 py-2 mt-4 w-full text-sm font-medium leading-5 text-center text-white bg-purple-600 rounded-lg border border-transparent transition-colors duration-150 active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                    type="submit">
                    Log in
                </button>
            </form>


            <hr class="my-8" />

            <!-- 
            <p class="mt-4">
                <a class="text-sm font-medium text-purple-600 dark:text-purple-400 hover:underline"
                    href="./forgot-password.html">
                    Forgot your password?
                </a>
            </p> -->
            <p class="mt-1">
                <a class="text-sm font-medium text-purple-600 dark:text-purple-400 hover:underline"
                    href="{% url 'register' %}">
                    Create account
                </a>
            </p>

        </div>
    </div>
</div>
{% endblock %}